body{
    background-color: darkgrey;
}

h1{
    text-align: center;
    color:white;
    font-family: verdana;
    font-size: 30px;
}

ul{
    color: white;
    font-size: 15px;
    text-align: center;
}

p{
    colour: white;
    text-align: center;

}

